<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TASKHOME</title>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="shortcut icon" href="../images/TaskHome.ico" />
</head>

<body style="background-color:#b5ebf7;">

  <header th:replace="layout/plantilla :: header"></header>
  
  <main >
    <div align="center" wstyle="width: 100%;">
      <div id="contenedor-inicio" >
        <div align="center">
          <img  class="mb-sm-3" src="images/TaskHome.ico" alt="" width="105" height="105">
          <!--<h5 style="color: black;">&nbsp &nbsp TaskHome</h5>-->
        </div>
      </div>

      <div  id="principal">
        <div class="banner">
        </div>
      </div>    
      </div>
    </div>

    <div  id="contenedor" style="justify-content: center; vertical-align: mi;">

      <div align="center" id="contenedor-final">
        <div align="center"> 
          <h5 style="width: 80%; color: black;">[[#{inicio.eslogan}]]:</h5>
          <h5 style="width: 90%; color: black;">[[#{inicio.mensaje}]]</h5>
          <b>
            <a class="ghost button fw-bold border-white " href="/login"  >[[#{inicio.BotonIngresar}]]</a>
          </b>
        </div>
        <footer class="mt-auto text-white-50">
          <p>[[#{inicio.Desarrollado}]]: <a href="https://getbootstrap.com/" class="text-white">TaskHome</a>, [[#{inicio.por}]] <a href="https://twitter.com/mdo" class="text-white">ElkinO</a>.</p>
        </footer>
      </div>
    </div>
  </main>

</body>
</html>