<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[[#{login.titulo}]]</title>
  <link rel="shortcut icon" href="../images/TaskHome.ico" />
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/publicidad.css">
  <link rel="stylesheet" href="../css/popmenu.css">
</head>

<body style="background-color:#b5ebf7;">
  <!--div align="left" style="width: 90%;">
    <header th:replace="layout/plantilla :: header"></header>
  </div-->
  

<div class="container" id="container">
  <h1>[[#{login.crearcuenta}]]</h1>
  
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>[[#{login.iniciarsesion}]]</h1>
      <h5>[[#{login.mensaje}]]</h5>
     <div class="form-floating text-dark">
      <label for="floatingInput">[[#{login.correoelectronico}]]</label>
      <input type="text" class="form-control" id="floatingInput"  minlength="4" maxlength="30">
      <span hidden id="emailincorrecto">[[#{loginjs.correoincorrecto}]]</span>
      <span hidden id="passwordincorrecto">[[#{loginjs.contrasenaincorrecta}]]</span>
      <span hidden id="menbienvenido">[[#{loginjs.bienvenido}]]</span>
      <span hidden id="mencredencialincorrecta">[[#{loginjs.credencialinvalida}]]</span>

    </div>
    <div class="form-floating text-dark">
      <label for="floatingPassword">[[#{login.contrasena}]]</label>
      <input type="password" class="form-control" id="floatingPassword" minlength="4" maxlength="8">
    </div>

      <a href="#">¿[[#{login.olvidocontrasena}]]?</a>

      <button class="ghost button border-white " type="button" onclick="login()">[[#{login.iniciarsesion}]]</button>

      <br>
      <div id="errorBox">
      </div>
    </form>     
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>[[#{login.bienvenidonuevamente}]]</h1>
        <p>[[#{login.mensajenuevamente}]]</p>
        <button class="ghost button border-white" id="signIn">[[#{login.ingresar}]]</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>¡[[#{login.bienvenida}]]!</h1>
        <p>[[#{login.mensajecrearcuenta}]]</p>
        <b>
          <a class="ghost button border-white " th:href="@{/agregarUsuarioAdmin}" id="signUp"  >[[#{login.crearcuenta}]]</a>
        </b>
      </div>
    </div>
  </div>
</div>
<div>
  <br>
</div>
<div id="hellobar-bar" class="regular closable">
  <div class="hb-content-wrapper">
      <div class="hb-text-wrapper">
          <div class="hb-headline-text">
              <p><span>[[#{login.espaciopublicitario1}]]</span></p>
          </div>
      </div>
      <a  target="_blank" class="hb-cta hb-cta-button">
          <div class="hb-text-holder">
              <p>[[#{login.espaciopublicitario2}]]</p>
          </div>
      </a>
  </div>
</div>


<script src="js/login.js"></script>
<script src="js/script.js" charset="utf-8"></script>

</body>
</html>