<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modificar Informcion Personal</title>
  <link rel="stylesheet" href="../css/registro.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <link rel="shortcut icon" href="../images/TaskHome.ico" />
</head>

<body style="background-color:#b5ebf7;">
  <div class="container" id="container">
    
    <div class="form-container sign-up-container">
      
      <form action="#">
        <h1 class="Logo">TASKHOME</h1>
        <h1>Crear Cuenta</h1>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <div>
          <h3>Modificar Contraseña<h3></h3>
        </div>
        <div>
          <label>Favor a continuacion digite la siguiente informacion para modificar su cuenta</label>
        </div>
        <br>
        <div class="form-floating text-dark">
          <label for="floatingInput">Correo Electronico</label>
          <input type="text" class="form-control" id="floatingInput" placeholder="CorreoElectronico" minlength="4" maxlength="20" disabled=»disabled»>
        </div>

        <div class="form-floating text-dark">
          <label for="floatingInput">Contraseña Actual</label>
          <input type="password" class="form-control" id="floatingInput" placeholder="PasswordAntiguo" minlength="4" maxlength="20">
        </div>
        <div class="form-floating text-dark">
          <label for="floatingInput">Nueva Contraseña</label>
          <input type="password" class="form-control" id="floatingCorreo" placeholder="PasswordNuevo" minlength="4" maxlength="30">
        </div>
        <div class="form-floating text-dark">
          <label for="floatingPassword">Confirmar Contraseña</label>
          <input type="password" class="form-control" id="floatingConfirmarPassword" placeholder="ConfirmarContraseña" minlength="4" maxlength="8">
        </div>
        <br>
        <a class="ghost button border-white " type="button" >MODIFICAR CONTRASEÑA</a>
        <br>
      </form>      
    </div>
    <div class="overlay-container">
      <div class="overlay">
        
        <div class="overlay-panel overlay-right">
          <h1>Informacion Adicional</h1>
          <h5>Esta informacion no es obligatoria</h5>
          <div class="form-floating text-dark">
            <label for="floatingPassword">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="floatingFechaNacimiento" placeholder="FechaNacimiento">
          </div>

          <div class="form-floating text-dark">
            <label for="floatingCiudad">Ciudad</label>
            <input type="text" class="form-control" id="floatingCiudad" placeholder="Ciudad" minlength="4" maxlength="15">
          </div>

          <div class="form-floating text-dark">
            <label for="floatingCiudad">Pais</label>
            <input type="text" class="form-control" id="floatingPaisCiudad" placeholder="Pais" minlength="4" maxlength="15">
          </div>
          
          <br>
          <button class="ghost button border-white " type="button" onclick="registro()">MODIFICAR INFORMACION ADICIONAL</button>
          <br>
          <a class="ghost button  border-white " type="button" href="/principal">ATRAS</a>
          <br>
          <br>
          <h5 id="errorBox">
          </h5>
        </div>
      </div>
    </div>
  </div>
  
  <script src="js/registro.js"></script>
  <script src="js/script.js" charset="utf-8"></script>
  
  </body>
</html>