<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
                xmlns="htttp://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[#{tarea.nombre}]]</title>
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="../css/calendar.css">
    <link rel="stylesheet" href="../css/modificarTareas.css">
</head>
<body onload="habilitarboton()" >
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="/index">
              <span class="icon"><ion-icon name="home-outline" ></ion-icon></span>
              <span class="title" >TASKºHOME</span>
            </a>
          </li>
          <li>
            <a id="boton1"  href="/principal">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></ion-icon></span>
              <span class="title">[[#{tarea.principal}]]</span>
            </a>
          </li>
        </ul>
      </div>
  
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
          <div class="user">
            <img src="images/user.jpg">
          </div>
        </div>
        
        <center>
          
          <div style="background-color:lightgray; width: 90%; border-radius: 3%;">
                <br>
                <h1>[[#{tarea.titulo}]]</h1>
                <br>
                <br>
                <span id="mensajeError"></span>
                <br>
                <form th:action="@{/guardarTarea}" method="post" th:object="${registroTareas}" >
                  <input type="hidden" name="id" th:field="*{id}"/> <!--Si esto no se pone el lo duplica-->
                  <table >
                    <tr>
                      <td align="right">
                        <label style="width: 100%" for="FechaEjecucion">[[#{tarea.fechae}]]</label>
                      </td>
                      <td>
                        <input style="width: 100%" class="form-floating text-dark" type="date" name="fecha_estimada_ejecucion" th:field="*{fecha_estimada_ejecucion}" onchange="habilitarboton()" onkeypress="ValidarInfo()" minlength="4" maxlength="15"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        <label style="width: 100%" for="HoraEjecucion">[[#{tarea.horae}]]</label>
                      </td>
                      <td>
                        <input style="width: 100%" type="time" name="hora_estimada_ejecucion" th:field="*{hora_estimada_ejecucion}" onchange="habilitarboton()" onkeypress="ValidarInfo()"  minlength="4" maxlength="15"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        <label style="width: 100%" for="id_tarea">[[#{tarea.idtarea}]]</label>
                      </td>
                      <td>
                        <input style="width: 100%" type="number" name="id_tarea" th:field="*{id_tarea}" onchange="habilitarboton()" onkeypress="ValidarInfo()" minlength="1" maxlength="15"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        <label for="id_usuario">[[#{tarea.idusuario}]]</label>
                      </td>
                      <td>
                        <input style="width: 100%" type="number" name="id_usuario" th:field="*{id_usuario}" onchange="habilitarboton()" onkeypress="ValidarInfo()" minlength="1" maxlength="15"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        <label for="id_grupo_familiar">[[#{tarea.idgrupofamiliar}]]</label>
                      </td>
                      <td>
                        <input style="width: 100%" type="number" name="id_grupo_familiar" th:field="*{id_grupo_familiar}" onchange="habilitarboton()"  onkeypress="ValidarInfo()" minlength="1" maxlength="15"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        <label for="observaciones">[[#{tarea.detalle}]]</label>
                      </td>
                      <td>
                        <input style="width: 100%" type="text" name="observaciones" th:field="*{observaciones}" onchange="habilitarboton()" onkeypress="ValidarInfo()" minlength="4" maxlength="15"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        <label for="FechaFinalizacion">[[#{tarea.fechaf}]]</label>
                      </td>
                      <td>
                        <input style="width: 100%" type="date" name="fecha_finalizacion" th:field="*{fecha_finalizacion}" onchange="habilitarboton()" onkeypress="ValidarInfo()" minlength="4" maxlength="15"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        <label for="HoraFinalizacion">[[#{tarea.horaf}]]</label>
                      </td>
                      <td>
                        <input style="width: 100%" type="time" name="hora_finalizacion" th:field="*{hora_finalizacion}" onchange="habilitarboton()" onkeypress="ValidarInfo()" minlength="4" maxlength="15"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        <label for="Finalizado">[[#{tarea.estado}]]</label>
                      </td>
                      <td >
                        <select  style="width: 100%" name="select" th:field="*{finalizado}" minlength="1" onchange="habilitarboton()" onkeypress="ValidarInfo()" maxlength="15" >
                          <option th:value="'Pendiente'" selected>[[#{tarea.pendiente}]]</option>
                          <option th:value="'Finalizado'" >[[#{tarea.finalizado}]]</option>
                        </select>

                      </td>
                    </tr>
                  </table>
                  <br>
                  <button id="submitButton" class="ghost button border-white " type="submit" name="guardarTarea">[[#{tarea.guardar}]]</button>
                  <br>
                  <br>
                </form>

            </table>
        </center>

      </div>
    </div>
    <script src="js/principal.js" charset="utf-8"></script>
    <script src="js/tareas.js" charset="utf-8"></script>
    <script src="js/GrupoFamiliar.js" charset="utf-8"></script>
    <script src="js/scriptindex.js" charset="utf-8"></script>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>  
  </body>
  </html>