<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TASKHOME</title>
  <link rel="stylesheet" href="../css/principal.css">
  <link rel="stylesheet" href="../css/calendar.css">
  
</head>

<body>
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="/index">
            <span class="icon"><ion-icon name="home-outline" ></ion-icon></span>
            <span class="title" >TASKºHOME</span>
          </a>
        </li>
        <li>
          <a id="boton4"  onclick="visualizarTareas()">
            <span class="icon"><ion-icon name="book-outline"></ion-icon></ion-icon></span>
            <span class="title">Tareas</span>
          </a>
        </li>
        <li>
          <a id="boton5"  onclick="visualizarGrupoFamiliar()">
            <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
            <span class="title">Grupo</span>
          </a>
        </li>
        <li>
          <a id="boton3"  onclick="visualizarCalendario()">
            <span class="icon"><ion-icon name="calendar-outline"></ion-icon></ion-icon></span>
            <span class="title">Calendario</span>

        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
            <span class="title">Mensajes</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
            <span class="title">Configuracion</span>
          </a>
        </li>
        <li>
          <a href="/modificarinf">
            <span class="icon"><ion-icon name="lock-closed-outline" ></ion-icon></span>
            <span class="title">Modificar Informacion</span>
          </a>
        </li>
        <li>
          <a class="ghost button fw-bold border-white " href="/login">
            <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
            <span class="title">Cerrar Sesion</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="search">
          <label>
            <input type="text" placeholder="Buscar">
            <ion-icon name="search-outline"></ion-icon>
          </label>
        </div>
        <div class="user">
          <img src="images/user.jpg">
        </div>
      </div>
      <div class="cardBox">
        <div class="card">
          <div>
            <div class="numbers">7</div>
            <div class="cardname">Tareas Diarias</div>
          </div>
          <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">2</div>
            <div class="cardname">Mensajes</div>
          </div>
          <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">102</div>
            <div class="cardname">Puntos</div>
          </div>
          <div class="iconBx">
            <ion-icon name="trophy-outline"></ion-icon>
          </div>
        </div>
      </div>

      <!-- Calendario de Google
        <div align="right">
          <iframe src="https://calendar.google.com/calendar/embed?height=350&wkst=1&bgcolor=%230c7489&ctz=America%2FBogota&showTitle=1&showNav=0&showDate=1&showPrint=0&showTabs=1&showCalendars=0&showTz=0&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%230B8043" style="border-width:10" width="420" height="350" frameborder="0" scrolling="no"></iframe>
        </div>
        -->

      <div align="center" style="width: 100%;"  >
        <div class="contianer" id="Calendario" style="display:none">
          <div class="calendar">
            <div class="calendar-header">
              <span class="month-picker" id="month-picker"> May </span>
              <div class="year-picker" id="year-picker">
                <span class="year-change" id="pre-year">
                  <pre><</pre>
                </span>
                <span id="year">2020 </span>
                <span class="year-change" id="next-year">
                  <pre>></pre>
                </span>
              </div>
            </div>
      
            <div class="calendar-body">
              <div class="calendar-week-days">
                <div>Dom</div>
                <div>Lun</div>
                <div>Mar</div>
                <div>Mie</div>
                <div>Jue</div>
                <div>Vie</div>
                <div>Sab</div>
              </div>
              <div class="calendar-days">
              </div>
            </div>
            <div class="calendar-footer">
            </div>
            <div align="left" class="date-time-formate">
              
              <div class="date-time-value">
                
                <table style="width: 180%;">
                  <td>
                    <div  style="width: 40%;" class="day-text-formate">Hoy</div>
                  </td>
                  <td>
                    <div class="time-formate">02:51:20</div>
                    <div class="date-formate">23 - Julio - 2022</div>
                  </td>
                </table>
              </div>
            </div>
            <div class="month-list"></div>
          </div>
        </div>
  
      </div>

      <div th:if="${RegistroTareas != null and !RegistroTareas.empty}" id="tablaTareas">
          <div class="details" style="display:block" id="ListTareas">
            <div class="recentOrders">
              <div class="cardHeader">
                <h2>Todas las Tareas</h2>
                <a href="#" class="btn">Vistas</a>
              </div>
              <table>
                <thead>
                  <tr>
                    <td>Id</td>
                     <td>Fecha Estimada</td>
                    <td>Hora Estimada</td>
                    <td>Observaciones</td>
                    <td>Estado</td>
                  </tr>
                </thead>
                <tbody>   

                 <tr th:each="RegistroTarea : ${RegistroTareas}">
                    <td th:text="${RegistroTarea.id}">Mostrar Id</td>
                    <td th:text="${RegistroTarea.fecha_estimada_ejecucion}">Mostrar Fecha Estimada</td>
                    <td th:text="${RegistroTarea.hora_estimada_ejecucion}">Mostrar Hora Estimada</td>
                    <td th:text="${RegistroTarea.Observaciones}">Mostrar Id</td>
                    <td th:text="${RegistroTarea.finalizado}">Mostrar Estado</td>
                    <td><span class="status delivered">completado</span></td>
                  </tr>
                  
                  </tbody>
              </table>
            </div>
          </div>
      </div>

      <div id="tablaGrupoFamiliar">
        <div class="details" style="display:none" id="ListGrupoFamiliar">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Grupo Familiar</h2>
              <a href="#" class="btn">Vistas</a>
            </div>
            <table>
              <thead>
                <tr>
                  <td>Nombre</td>
                   <td>Cumpleaños</td>
                  <td>Estado</td>
                </tr>
              </thead>
              <tbody>
               <tr>
                  <td>Luis Enrique Perez</td>
                  <td>45</td>
                  <td><span class="status delivered">Habilitado</span></td>
                </tr>
                <tr>
                  <td>Lina Maria Ruiz</td>
                  <td>40</td>
                  <td><span class="status delivered">Habilitado</span></td>
                </tr>
                <tr>
                  <td>Luis Carlos Perez</td>
                  <td>22</td>
                  <td><span class="status delivered">Habilitado</span></td>
                </tr>
                <tr>
                  <td>Julian Andres Perez</td>
                  <td>28</td>
                  <td><span class="status delivered">Deshabilitado</span></td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>

      
    </div>
  </div>
  <script src="js/principal.js" charset="utf-8"></script>
  <script src="js/tareas.js" charset="utf-8"></script>
  <script src="js/GrupoFamiliar.js" charset="utf-8"></script>
  <script src="scriptindex.js" charset="utf-8"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>  
</body>
</html>