<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TASKHOME</title>
  <link rel="stylesheet" href="../css/principal.css">
  <link rel="stylesheet" href="../css/calendar.css">
</head>

<body onload="enviar_correo()">
  <span hidden id="mesI">[[#{principal.calidioma}]]</span>

  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="/index">
            <span class="icon"><ion-icon name="home-outline" ></ion-icon></span>
            <span class="title" >TASKºHOME</span>
          </a>
        </li>
        <li>
          <a id="boton4"  onclick="visualizarTareas()">
            <span class="icon"><ion-icon name="book-outline"></ion-icon></ion-icon></span>
            <span class="title">[[#{principal.tareas}]]</span>
          </a>
        </li>
        <li>
          <a id="boton5"  onclick="visualizarGrupoFamiliar()">
            <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
            <span class="title">[[#{principal.grupo}]]</span>
          </a>
        </li>
        <li>
          <a id="boton3"  onclick="visualizarCalendario()">
            <span class="icon"><ion-icon name="calendar-outline"></ion-icon></ion-icon></span>
            <span class="title">[[#{principal.calendario}]]</span>

        </li>
        <!--li>
          <a href="#">
            <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
            <span class="title">Mensajes</span>
          </a>
        </li-->
        <!--li>
          <a href="#">
            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
            <span class="title">Configuracion</span>
          </a>
        </li-->
        <!--li>
          <a href="/modificarinf">
            <span class="icon"><ion-icon name="lock-closed-outline" ></ion-icon></span>
            <span class="title">Modificar Informacion</span>
          </a>
        </li-->
        <li>
          <a class="ghost button fw-bold border-white " href="/login">
            <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
            <span class="title">[[#{principal.cerrars}]]</span>
          </a>
        </li>
      </ul>
      
    </div>

    

      <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        
        <!--div class="user">
          <img src="images/user.jpg">
        </div-->
      </div>
      <center>
        <h5>
          <h5>[[#{loginjs.bienvenido}]]</h5> 
          <span id="bnombreusuario" class="NombreUsuario">Bienvenido</span>
        </h5>
      <center>
      <!--div class="cardBox">
        <div class="card">
          <div>
            <div class="numbers">7</div>
            <div class="cardname">Tareas Diarias</div>
          </div>
          <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">2</div>
            <div class="cardname">Mensajes</div>
          </div>
          <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">102</div>
            <div class="cardname">Puntos</div>
          </div>
          <div class="iconBx">
            <ion-icon name="trophy-outline"></ion-icon>
          </div>
        </div>
      </div-->

      <!-- Calendario de Google
        <div align="right">
          <iframe src="https://calendar.google.com/calendar/embed?height=350&wkst=1&bgcolor=%230c7489&ctz=America%2FBogota&showTitle=1&showNav=0&showDate=1&showPrint=0&showTabs=1&showCalendars=0&showTz=0&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%230B8043" style="border-width:10" width="420" height="350" frameborder="0" scrolling="no"></iframe>
        </div>
        -->

      <div align="center" style="width: 100%;"  >
        <div class="contianer" id="Calendario" style="display:none">
          <div class="calendar">
            <div class="calendar-header">
              <span class="month-picker" id="month-picker"> [[#{principal.calene}]] </span>
              <div class="year-picker" id="year-picker">
                <span class="year-change" id="pre-year">
                  <pre><</pre>
                </span>
                <span id="year">2020</span>
                <span class="year-change" id="next-year">
                  <pre>></pre>
                </span>
              </div>
            </div>
      
            <div class="calendar-body">
              <div class="calendar-week-days">
                <div>[[#{principal.caldom}]]</div>
                <div>[[#{principal.callun}]]</div>
                <div>[[#{principal.calmar}]]</div>
                <div>[[#{principal.calmie}]]</div>
                <div>[[#{principal.caljue}]]</div>
                <div>[[#{principal.calvie}]]</div>
                <div>[[#{principal.calsab}]]</div>
              </div>
              <div class="calendar-days">
              </div>
            </div>
            <div class="calendar-footer">
            </div>
            <div align="left" class="date-time-formate">
              
              <div class="date-time-value">
                
                <table style="width: 180%;">
                  <td>
                    <div  style="width: 40%;" class="day-text-formate">[[#{principal.hoy}]]</div>
                  </td>
                  <td>
                    <div class="time-formate">02:51:20</div>
                    <div class="date-formate">23 - Julio - 2022</div>
                  </td>
                </table>
              </div>
            </div>
            <div class="month-list"></div>
          </div>
        </div>
  
      </div>
      <!--
      <div class="window-notice" id="window-notice" style="display: block;">
        <div class="content">
            <div class="content-text">Este sitio utiliza cookies para obtener la mejor experiencia en nuestra web. 
            <div class="content-buttons"><a id="close-button" onclick="visualizarVentanaEmergente()">Aceptar</a></div>
        </div>
      </div>-->

      <div th:if="${RegistroTareas != null and !RegistroTareas.empty}" id="tablaTareas" style="width: 100%;">
          <div class="details" style="display:block " id="ListTareas">
            <div class="recentOrders">
              <div class="cardHeader">
                <h2>[[#{principal.todastareas}]]</h2>
              </div>
              <table>
                <thead>
                  <tr>
                    <Center>
                    <!--Agregar-->
                    <a class="btn" th:href="@{/agregarTarea}" style="height: 80px; background-color: green; width: 8%">[[#{accion.crear}]]</a>
                    </Center>
                  </tr>
                  <tr>
                    <td>Id</td>
                     <td>[[#{principal.fechae}]]</td>
                    <td>[[#{principal.horae}]]</td>
                    <td>[[#{principal.detallea}]]</td>
                    <td>[[#{principal.estadot}]]</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>   

                 <tr th:each="RegistroTarea : ${RegistroTareas}">
                    <td th:text="${RegistroTarea?.id}" style="width: 10%;">Mostrar Id</td>
                    <td th:text="${RegistroTarea?.fecha_estimada_ejecucion}" style="width: 12%;">Mostrar Fecha Estimada</td>
                    <td th:text="${RegistroTarea?.hora_estimada_ejecucion}" style="width: 10%;">Mostrar Hora Estimada</td>
                    <td th:text="${RegistroTarea?.Observaciones}" style="width: 40%;">Mostrar Id</td>
                    <td th:text="${RegistroTarea?.finalizado}" style="width: 10%;">Mostrar Estado</td>
                    <td th:text="${RegistroTarea?.id_grupo_familiar}" style="width: 10%;">Grupo Familiar</td>
                    <td align="right">
                      <!--Modificar-->
                      <a class="btn" th:href="@{/modificarTarea/} + ${RegistroTarea.id} " style="height: 80px; width: 8%">[[#{accion.modificar}]]</a>
                    </td>
                    <td align="right">
                      <!--Eliminar-->
                      <a class="btn" th:href="@{/eliminarTarea/} + ${RegistroTarea.id}" style="height: 80px; background-color:brown; width: 8%">[[#{accion.eliminar}]]</a>
                    </td>
                  </tr>
                  
                  </tbody>
              </table>
            </div>
          </div>
      </div>

      <div th:if="${Usuarios != null and !Usuarios.empty}" id="tablaGrupoFamiliar" style="width: 100%;">
        <div class="details" style="display:block " id="ListGrupoFamiliar">
            <div class="recentOrders">
              <div class="cardHeader">
                <h2 >[[#{principal.grupousu}]]</h2>
              </div>
              
              <table>
                <thead>
                  <Center>
                  <!--Agregar-->
                  <a class="btn" th:href="@{/agregarUsuario}" style=" background-color: green; width: 20%">[[#{accion.crear}]]</a>
                  </Center>
                  <tr>
                    <td>Id</td>
                    <td>[[#{principal.gruponombre}]]</td>
                    <td>[[#{principal.grupocorreo}]]</td>
                    <td>[[#{principal.grupofechanacimiento}]]</td>
                    <td>[[#{principal.grupoestado}]]</td>
                    <td></td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>   
                    <tr th:each="Usuario : ${Usuarios}">
                      <td th:text="${Usuario.id}" style="width: 10%;">Id</td>
                      <td th:text="${Usuario?.nombre_usuario}" style="width: 32%;">Mostrar Nombre Usuario</td>
                      <td th:text="${Usuario?.email}" style="width: 30%;">Mostrar Correo Electronico</td>
                      <td th:text="${Usuario?.fecha_nacimiento}" style="width: 12%;">Mostrar Cumpleaños</td>
                      <td th:text="${Usuario?.id_grupo_familiar}" style="display: none;">Mostrar Id Grupo Familiar</td>
                      <td th:text="${Usuario?.id_rol_usuario}" style="display: none;">Mostrar Id Rol Grupo Familiar</td>
                      <td th:text="${Usuario?.tiempo_disponibilidad}" style="display: none;">Mostrar Tiempo Disponibilidad</td>
                      <td th:text="${Usuario?.estado}">Estado</td>

                      <td align="right">
                        <!--Modificar-->
                        <a class="btn" th:href="@{/modificarUsuario/} + ${Usuario.id} " style="height: 80px; width: 8%">[[#{accion.modificar}]]</a>
                      </td>
                      <td align="right">
                        <!--Eliminar-->
                        <a class="btn" th:href="@{/eliminarUsuario/} + ${Usuario.id}" style="height: 80px; background-color:brown; width: 8%">[[#{accion.eliminar}]]</a>
                      </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>

  <script src="js/principal.js" charset="utf-8"></script>
  <script src="js/tareas.js" charset="utf-8"></script>
  <script src="js/GrupoFamiliar.js" charset="utf-8"></script>
  <script src="js/scriptindex.js" charset="utf-8"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>  
</body>
</html>