<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
                xmlns="htttp://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="../css/principal.css">
  <link rel="stylesheet" href="../css/calendar.css">
  <link rel="stylesheet" href="../css/modificarUsuarios.css">
</head>

<body onload="habilitarboton()">
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="/index">
            <span class="icon"><ion-icon name="home-outline" ></ion-icon></span>
            <span class="title" >TASKºHOME</span>
          </a>
        </li>
        <li>
          <a id="boton1"  href="/login">
            <span class="icon"><ion-icon name="home-outline"></ion-icon></ion-icon></span>
            <span class="title">[[#{registro.volver}]]</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="main">
      
      <center>
        
        <div style="background-color:lightgray; width: 60%; border-radius: 3%;">
          <br>
          <h2>[[#{registro.mensaje}]]</h2>
          <br>
          <form th:action="@{/guardarUsuarioAdmin}" method="post" th:object="${usuarios}" >
              <input type="hidden" name="id" th:field="*{id}">   
              <table>
                <tr>
                  <td align="right">
                    <label style="width: 100%" for="nombre_usuario"  >[[#{registro.nombre}]]</label>
                  </td>
                  <td>
                    <input style="width: 100%"class="form-floating text-dark" type="text" name="nombre_usuario" th:field="*{nombre_usuario}" onkeypress="habilitarboton()"  minlength="4" maxlength="15"/>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label style="width: 100%"for="email">[[#{registro.correo}]]</label>
                  </td>
                  <td>
                    <input style="width: 100%"type="text" name="email" th:field="*{email}"  minlength="4" maxlength="49" onkeyup="registro()" onkeypress="habilitarboton()" />
                  </td>
                  <br>
                    <label style="width: 80%" id="errorBox">
                    </label>
                </tr>
                <tr>
                  <td align="right"> 
                    <label style="width: 100%"for="password">[[#{registro.contrasena}]]</label>
                  </td>
                  <td>
                    <input style="width: 100%"type="password" name="password" th:field="*{password}"  onkeypress="habilitarboton()" minlength="4" maxlength="15"/>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="fecha_nacimiento">[[#{registro.fechanacimiento}]]</label>
                  </td>
                  <td>
                    <input style="width: 100%"type="date" name="fecha_nacimiento" th:field="*{fecha_nacimiento}"  onkeypress="habilitarboton()" min="1920-01-01" max="2200-01-01"/>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="id_grupo_familiar">[[#{registro.idgrupo}]]</label>
                  </td>
                  <td>
                    <input style="width: 100%" type="text" name="id_grupo_familiar" th:field="*{id_grupo_familiar}" onkeyup="habilitarboton()"  minlength="1" maxlength="15"/>
                  </td>
                </tr>
                <tr hidden>
                  <td align="right">
                    <label  for="id_rol_usuario">[[#{registro.rol}]]</label>
                  </td>
                  <td>
                    <select style="width: 100%"name="select" th:field="*{id_rol_usuario}" onkeyup="habilitarboton()" minlength="1" maxlength="15" >
                      <option th:value="'1'" >[[#{registro.administrador}]]</option>
                      <option th:value="'0'" selected>[[#{registro.usuario}]]</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="tiempo_disponibilidad">[[#{registro.tiempo}]]</label>
                  </td>
                  <td>
                    <input style="width: 100%"type="text" name="tiempo_disponibilidad" th:field="*{tiempo_disponibilidad}" onkeyup="habilitarboton()"  minlength="1" maxlength="15"/>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label  for="estado">[[#{registro.estado}]]</label>
                  </td>
                  <td>
                    <select style="width: 100%"name="select" th:field="*{estado}" minlength="1" maxlength="15">
                      <option th:value="'1'" selected>[[#{registro.activo}]]</option>
                      <option th:value="'0'" >[[#{registro.inactivo}]]</option>
                    </select>
                  </td>
                </tr>
              </table>

              <input id="submitButton"  type="submit" name="guardarUsuarioAdmin" value="Guardar"/>

              <br>
              <div id="errorBox">
              </div>
              <br>
              <br>
          </form>
        </table>
      </center>
    </div>
  </div>

  <script src="js/principal.js" charset="utf-8"></script>
  <script src="js/tareas.js" charset="utf-8"></script>
  <script src="js/GrupoFamiliar.js" charset="utf-8"></script>
  <script src="js/scriptindex.js" charset="utf-8"></script>
  <script src="js/registro.js" charset="utf-8"></script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>  
</body>
</html>