<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="shortcut icon" href="../images/TaskHome.ico" />
  <link rel="stylesheet" href="../css/registro.css">
  <link rel="stylesheet" href="../css/publicidad.css">
</head>

<body style="background-color:#b5ebf7;">
<div class="container" id="container">
  
  <div class="form-container sign-up-container">
    
    <form action="#">
      <h1 class="Logo">TASKHOME</h1>
      <h1>Crear Cuenta</h1>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h3>Crear cuenta</h3>
      <h5>Favor a continuacion digite la siguiente informacion para crear su cuenta</h5>
      <div class="form-floating text-dark">
        <label for="floatingInput">Nombre Usuario</label>
          <input type="text" class="form-control" id="floatingInput" placeholder="NombreUsuario" minlength="4" maxlength="20">      </div>
      <div class="form-floating text-dark">
        <label for="floatingInput">Correo Electronico</label>
        <input type="text" class="form-control" id="floatingCorreo" placeholder="CorreoElectronico" minlength="4" maxlength="30">
      </div>
      <div class="form-floating text-dark">
        <label for="floatingPassword">Contraseña</label>  
        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" minlength="4" maxlength="8">
      </div>
      <div class="form-floating text-dark">
        <label for="floatingPassword">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="floatingConfirmarPassword" placeholder="ConfirmarContraseña" minlength="4" maxlength="8">
      </div>

    </form>      
  </div>
  <div class="overlay-container">
    <div class="overlay">
      
      <div class="overlay-panel overlay-right">
        <h3>Informacion Adicional</h3>
        <h5>Esta informacion no es obligatoria</h5>

        <div class="form-floating text-dark">
          <label for="floatingPassword">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="floatingFechaNacimiento" placeholder="FechaNacimiento">
        </div>

        <div class="form-floating text-dark">
          <label for="floatingCiudad">Ciudad</label>
          <input type="text" class="form-control" id="floatingCiudad" placeholder="Ciudad" minlength="4" maxlength="15">
        </div>

        <div class="form-floating text-dark">
          <label for="floatingCiudad">Pais</label>
          <input type="text" class="form-control" id="floatingPaisCiudad" placeholder="Pais" minlength="4" maxlength="15">
        </div>
        
        <br>
        <button class="ghost button border-white " type="button" onclick="registro()">CREAR CUENTA</button>
        <br>
        <a class="ghost button border-white " type="button" href="/login">ATRAS</a>

        <h5 id="errorBox">
        </h5>

      </div>
    </div>
  </div>
</div>

<div>
  <br>
</div>
<div id="hellobar-bar" class="regular closable">
  <div class="hb-content-wrapper">
      <div class="hb-text-wrapper">
          <div class="hb-headline-text">
              <p><span>Espacio para publicidad, servicio gratuito</span></p>
          </div>
      </div>
      <a  target="_blank" class="hb-cta hb-cta-button">
          <div class="hb-text-holder">
              <p>Premium</p>
          </div>
      </a>
  </div>
</div>

<script src="js/registro.js"></script>
<script src="js/script.js" charset="utf-8"></script>

</body>
</html>